html {
	width: 1080px;
	height: 1920px;
	background-color:#181024;
	width:auto;
	height:auto;
	padding: 0px;
	margin: 0px;
	background-image:url(background_image.png);
	background-repeat:no-repeat;
    background-position: center;
 	background-size: auto;
	color:white;
	font-family: 'Gloria Hallelujah', cursive;

}

/*~~~~~~~~~~~
| Main Page
~~~~~~~~~~~~~*/


.Start {
	width:250px;
	margin:auto;
	margin-top:100px;
}

/*~~~~~~~~~~~~
| Page.Start
~~~~~~~~~~~~~~*/


#page {
	/*min-width:320px;
	max-width:900px;
	width:90%;*/

}

#page {
	width:250px;
	margin:auto;
}

/*#story {
	width:260px;
	height:350px;
	overflow:scroll;
	margin:auto;
	font-size:15px;
}*/

#mid {
	width:260px;
	height:500px;
	overflow:scroll;
	margin:auto;
	margin-top:15px;
	font-size:15px;
}

::-webkit-scrollbar { 
    display: none; 
}


#choiceForm {
	/*width:150px;*/
	margin:auto;
	text-align:center;
	/*margin-left:65px;*/
}


/*~~~~~~~~~~~~~~~~
|Page Specific Js
~~~~~~~~~~~~~~~~~*/

.StartImg {
	margin-left:45px;
	margin-top:50px;
	font-family:'FaceYourFears';
	font-size:40px;
}

.StoryName {
/*	margin-left:30px;*/
	margin-top:150px;
	font-family:'FaceYourFears';
	font-size:30px;
}

#TheEnd {
	font-size:40px;
	color:red;
	text-align:center;
	font-family:'YouDied';
}

#TheEnd2 {
	font-size:40px;
	color:red;
	text-align:center;
	font-family:'YouDied';
}

.CLEAN{
	clear:both;
}

#DoYou {
	text-align:center;
	font-size:25px;
}

#Safe {
	color:blue;
	font-size:30px;
	text-align:center;

}

/*~~~~~~~~~~~~
|Font Familys
~~~~~~~~~~~~~*/

@font-face {
	font-family: 'YouDied';
	src:url(../fonts/YouDied.ttf);
}

@font-face {
	font-family: 'GloriaHallelujah';
	src:url(../fonts/GloriaHallelujah.ttf);
}

@font-face {
	font-family: 'HorrorSketch';
	src:url(../fonts/HorrorSketch.ttf);
}

@font-face{
	font-family:'FaceYourFears';
	src:url(../fonts/FaceYourFears.ttf);
}






