<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kelseybosell.horroradventure" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Horror Adventure</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    	<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />

    	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" />

    	<gap:plugin name="nl.x-services.plugins.insomnia" />
     
    	<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />

    		<platform name="android">
    	              <icon src="../images/Backgrounds/Splash.png" density="ldpi" />
    	              <icon src="../images/Backgrounds/Splash.png" density="mdpi" />
    	              <icon src="../images/Backgrounds/Splash.png" density="hdpi" />
    	              <icon src="../images/Backgrounds/Splash.png" density="xhdpi" />
    	     </platform>

    	<preference name="SplashScreen" value="../images/Backgrounds/Splash.png" />
    	<preference name="SplashScreenDelay" value="10000" />

    	

    	<feature name="Insomnia">
      		<param name="android-package" value="nl.xservices.plugins.Insomnia" />
    	</feature>

</widget>
