body {
	background-color:#181024;
	width:320px;
	height:568px;
	background-image:url(background_image.png);
	background-repeat:no-repeat;
	background-size:320px;
	color:white;
	font-family: 'Gloria Hallelujah', cursive;


}

/*~~~~~~~~~~~~
| Page.Start
~~~~~~~~~~~~~~*/


#page {
	/*min-width:320px;
	max-width:900px;
	width:90%;*/

}

#page {
	width:250px;
	margin:auto;
}

/*#story {
	width:260px;
	height:350px;
	overflow:scroll;
	margin:auto;
	font-size:15px;
}*/

#mid {
	width:260px;
	height:500px;
	overflow:scroll;
	margin:auto;
	margin-top:15px;
	font-size:15px;
}

::-webkit-scrollbar { 
    display: none; 
}


#choiceForm {
	/*width:150px;*/
	margin:auto;
	text-align:center;
	/*margin-left:65px;*/
}


/*~~~~~~~~~~~~~~~~
|Page Specific Js
~~~~~~~~~~~~~~~~~*/

.StartImg {
	margin-left:45px;
	margin-top:50px;
	font-family:'Face Your Fears';
	font-size:40px;
}

.StoryName {
/*	margin-left:30px;*/
	margin-top:150px;
	font-family:'Face Your Fears';
	font-size:30px;
}

#TheEnd {
	font-size:40px;
	color:red;
	text-align:center;
	font-family:'YouDied';
}

#TheEnd2 {
	font-size:40px;
	color:red;
	text-align:center;
	font-family:'YouDied';

	margin-top:-25px;
}

#DoYou {
	text-align:center;
	font-size:25px;
}

/*~~~~~~~~~~~~
|Font Familys
~~~~~~~~~~~~~*/

@font-face {
	font-family: 'YouDied';
	src:url(../_fonts/Bloody/YouDied.ttf);
}

@font-face {
	font-family: 'GloriaHallelujah';
	src:url(../_fonts/Gloria_Hallelujah/GloriaHallelujah.ttf);
}

@font-face {
	font-family: 'Horror Sketch';
	src:url(../_fonts/Horror_Sketch/Horror Sketch.ttf);
}

@font-face{
	font-family:'Face Your Fears';
	src:url(../_fonts/Face_Your_Fears/Face Your Fears.ttf);
}






