body {
	background-color:#181024;
	width:320px;
	height:568px;
	background-image:url(background_image.png);
	background-repeat:no-repeat;
	background-size:320px;
	color:white;
	font-family: 'Gloria Hallelujah', cursive;


}

/*~~~~~~~~~~~
| Main Page
~~~~~~~~~~~~~*/

.main {
	width:250px;
	margin:auto;
	margin-top:100px;
}

.buttons {
	margin-top:200px;
}


/*~~~~~~~~~~~~
| Page.Start
~~~~~~~~~~~~~~*/


#page {
	/*min-width:320px;
	max-width:900px;
	width:90%;*/

}

#page {
	width:250px;
	margin:auto;
}

/*#story {
	width:260px;
	height:350px;
	overflow:scroll;
	margin:auto;
	font-size:15px;
}*/

#mid {
	width:260px;
	height:500px;
	overflow:scroll;
	margin:auto;
	margin-top:15px;
	font-size:15px;
}

::-webkit-scrollbar { 
    display: none; 
}


#choiceForm {
	/*width:150px;*/
	margin:auto;
	text-align:center;
	/*margin-left:65px;*/
}

/*#choiceForm input[type="submit"].plain {
    border: 0;
    background: transparent; 
}*/

/*~~~~~~~~~~~~~~~~
|Page Specific Js
~~~~~~~~~~~~~~~~~*/

#TheEnd {
	font-size:40px;
	color:red;
	text-align:center;
	font-family:'YouDied';
}

#TheEnd2 {
	font-size:40px;
	color:red;
	text-align:center;
	font-family:'YouDied';

	margin-top:-25px;
}

#DoYou {
	text-align:center;
	font-size:25px;
}

/*~~~~~~~~~~~~
|Font Familys
~~~~~~~~~~~~~*/

@font-face {
	font-family: 'YouDied';
	src:url(../_fonts/Bloody/YouDied.ttf);
}
@font-face {
	font-family: 'GloriaHallelujah';
	src:url(../_fonts/Gloria_Hallelujah/GloriaHallelujah.ttf);
}






